In [1]:
import numpy as np
import pandas as pd

In [3]:
opm_df = pd.read_csv('data/OPM_playlist_tracks.csv')

In [5]:
opm_collab_df = opm_df[opm_df['num_artists']>1]
opm_collab_df.head()

,track_id,name,popularity,duration_ms,artist_id,artist_name,num_artists,playlist_id,playlist_name
8,6XmskR1cMfgys1W7dExmgi,With a Smile (feat. Kelly Badon),61,264413,"['6ZgBJRjJsK1iOJGKGZxEUv', '32pTJUDIqu5vvX5Mcs...","['South Border', 'Kelly Badon']",2,37i9dQZF1DX4olOMiqFeqU,OPM Favorites
14,0bN5xQD1krvZNn8bsiWfVb,Nothing's Gonna Stop Us Now (Theme from Crazy ...,0,259056,"['5yVM85m9yNcHO6o0vaaVxW', '62WbvkXqQGvXQvw74G...","['Daniel Padilla', 'Morissette']",2,37i9dQZF1DX4olOMiqFeqU,OPM Favorites
50,1otkqpKNqIdhWB93fdmaCA,Tied,47,212642,"['0kRAKgEOVI43Qkz9PLmPt8', '3HaL9ONkedXrAybTHY...","['Bugoy Drilon', 'Moophs']",2,37i9dQZF1DX7Jerj8LqApV,OPM Says Chillax
52,1sx9t5A9iU7JXcp3Dx8i1g,Oo Na Lang,49,160941,"['5IBvcnaqYrSaeyM0q6sHuf', '1SrWbIDP84JcSDr0oT...","['Dudut', 'Matthaios']",2,37i9dQZF1DX7Jerj8LqApV,OPM Says Chillax
59,0ISfrSFFayF2EGZrqIeABu,The Closer I Get to You,47,281379,"['02gf7RKW6ZuRMb6u3fHyko', '4JlVPDJsN16LOYBMAM...","['Mariah Jean', 'Morris']",2,37i9dQZF1DX7Jerj8LqApV,OPM Says Chillax

In [6]:
opm_collab_df.shape

(146, 9)

In [7]:
#remove track duplicates
opm_collab_df = opm_collab_df.drop_duplicates(subset='track_id')
opm_collab_df.shape

(108, 9)

In [10]:
chart_df = pd.read_csv('data/spotify_daily_charts.csv')

In [11]:
chart_df.head()

,date,position,track_id,track_name,artist,streams
0,2017-01-01,1,0kN8xEmgMW9mh7UmDYHlJP,Versace on the Floor,Bruno Mars,185236
1,2017-01-01,2,5uCax9HTNlzGybIStD3vDh,Say You Won't Let Go,James Arthur,180552
2,2017-01-01,3,7BKLCZ1jbUBVqRi2FVlTVw,Closer,The Chainsmokers,158720
3,2017-01-01,4,2rizacJSyD9S1IQUxUxnsK,All We Know,The Chainsmokers,130874
4,2017-01-01,5,5MFzQMkrl1FOOng9tq6R9r,Don't Wanna Know,Maroon 5,129656

In [13]:
chart_df.shape

(294600, 6)

In [15]:
chart_collab_df = chart_df[chart_df['track_id'].isin(opm_collab_df['track_id'])]
chart_collab_df.shape

(5585, 6)

In [16]:
chart_collab_df.head()

,date,position,track_id,track_name,artist,streams
103,2017-01-01,104,4ZgZPrrSLi4sIiFkiahuxq,Hanap-Hanap,James Reid,17529
128,2017-01-01,129,6XmskR1cMfgys1W7dExmgi,With a Smile (feat. Kelly Badon),South Border,14701
302,2017-01-02,103,4ZgZPrrSLi4sIiFkiahuxq,Hanap-Hanap,James Reid,20737
334,2017-01-02,135,6XmskR1cMfgys1W7dExmgi,With a Smile (feat. Kelly Badon),South Border,17124
500,2017-01-03,101,4ZgZPrrSLi4sIiFkiahuxq,Hanap-Hanap,James Reid,23487